<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj profil</title>
    <script th:src="@{/js/registerFuntions.js}" type="text/javascript"></script>
</head>
<body>
<div class="w-75 mx-auto" layout:fragment="content">
    <div class="border-radius-medium border-secondary multicolor-gray-white black-color-white-shadow big-shadow">
        <h2 class="mt-2 text-center">Twój profil</h2>
        <div class="d-flex flex-row justify-content-around ">
            <div class="col text-center">
                <h1 th:text="${user.getUsername()}"></h1>
                <div class="center" style="margin: 10px">
                    <img style="width:300px;height:350px; box-shadow: 2px 2px 2px black"
                         th:src="@{${user.getPicturePath()==null? pic : '/user/uploadedPicture'}}"/>
                </div>
                <form enctype="multipart/form-data" method="post" th:action="@{/user/picture}">
                    <div class="m-2">
                        <input accept="image/*" id="file" name="file" required="required" type="file"/>
                    </div>
                    <div class="m-2">
                        <button class="btn btn-secondary center" name="upload" type="submit">Wrzuć zdjęcie</button>
                    </div>
                </form>
            </div>
            <div class="col text-center">
                <form method="post" th:action="@{/user}" th:object="${user}">
                    <h2>Edytuj swoje dane</h2>
                    <div class="form-group">
                        <label for="username">Zmień imię</label>
                        <input class="form-control" id="username" name="username" placeholder="Nazwa użytkownika"
                               required="required" th:field="*{username}" type="text">
                    </div>
                    <div class="form-group">
                        <label for="password1">Hasło</label>
                        <input class="form-control" id="password1" name="password" placeholder="Hasło"
                               required="required" th:field="*{password}" type="password">
                    </div>
                    <div class="form-group">
                        <label for="password2" id="passwordLabel">Powtórz hasło</label>
                        <input class="form-control" id="password2" oninput="unlockNewUserButton()"
                               placeholder="Powtórz hasło" required="required" type="password">
                    </div>
                    <p class="text-danger text-center" id="errorMessage"></p>
                    <button class="btn btn-secondary" id="newUserButton" type="submit">Uaktualnij</button>
                </form>

                <h3 class="mt-2"> Postawione zaklady - <span class="text-green" th:text="${ticketNumber}"></span></h3>
                <h3> Wygrane pieniądze - <span class="text-green" th:text="${positiveSum} + 'zł'"></span></h3>
                <form method="get" th:action="@{/payment/extraCash}">
                    <button class="btn btn-secondary" id="extraCash">Doładuj konto o 100 zł</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>