<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podgląd klubu</title>
</head>
<body>
<div layout:fragment="content" class="ml-5 mr-5 w-100 ">
    <div class=" d-flex flex-row">
        <div class="col my-auto black-color-white-shadow text-center ">
            <h1 th:text="${club.getName()}">Nazwa klubu</h1>
            <h4 th:text="${club.getShortName()}">Skrót</h4>
            <h4 th:text="'Siła klubu - '+ ${club.getPower()}"></h4>
        </div>
        <div class="col  text-center">
            <img class="background-cover" style=" width:500px;" th:src="${club.getPictureUrl()}">
        </div>
        <div class="col my-auto text-center black-color-white-shadow"
             th:with="stats=${club.getClubStatistics()}">
            <h4>Rozegrane Mecze</h4>
            <span th:text="${club.getClubStatistics().getTotal()}" w></span>
            <h4>Wygrane Mecze</h4>
            <span th:text="${stats.getWinners()}"></span>
            <h4>Przegrane Mecze</h4>
            <span th:text="${stats.getLosers()}"></span>
            <h4>Remisy</h4>
            <span th:text="${stats.getDraws()}"></span>
        </div>
    </div>
    <h1 class="black-color-white-shadow text-center mt-3 mb-3">Zawodnicy</h1>
    <div class="container d-flex flex-row flex-wrap  justify-content-between ">
        <div th:each="player:${club.getPlayers()}">
            <div class="h-25">
                <div class="p-2 card mt-2 mb-2 text-center border-inset multicolor-red-yellow" >
                    <img class="card-img-top " style=" width: 18rem; height: 10rem" th:src="${player.getPictureUrl()}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class=" black-color-white-shadow" th:text="${player.getFullName()}">Imię zawodnika</h4>
                        <p class="card-text black-color-white-shadow" th:text="${player.getPosition().getTranslate()}">Pozycja.</p>
                        <a th:href="@{/player(id=${player.getId()})}" class="btn btn-secondary">Podgląd</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>