<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ostatnie zakłady</title>
</head>
<body>
<div layout:fragment="content">
    <div style="margin:15px auto">
        <h2 class="center-align"> Twoje zakłady</h2>
        <nav>
            <div class="nav-wrapper blue-grey lighten-1 ">
                <div class="row" style="margin:auto 15px;">
                    <ul>
                        <li class="col"><a th:href="@{/ticket}">Wszystkie</a></li>
                        <li class="col"><a th:href="@{/ticket(done=false)}">Oczekujące</a></li>
                        <li class="col"><a th:href="@{/ticket(done=true)}">Skończone</a></li>
                        <li class="col"><a th:href="@{/ticket/done(won=true)}">Wygrane</a></li>
                        <li class="col"><a th:href="@{/ticket/done(won=false)}">Przegrane</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div th:if="${!activeTickets.isEmpty()}">
            <table class=" center-align" style="max-width: 80%;margin:  20px auto;border: 1px solid black">
                <thead>
                <tr>
                    <th>Gospodarz</th>
                    <th>Oponent</th>
                    <th>Postawiono na</th>
                    <th>Postawione pieniądze</th>
                    <th>Pieniądze do wygrania</th>
                    <th>Dnia</th>
                    <th>Wyniki</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr style="border: 1px solid black"  th:class="${!ticket.done}? 'blue lighten-3' :
                 (${ticket.wonTicket}? 'green lighten-3':'red lighten-3' )" th:each=" ticket:${activeTickets}">
                    <td th:text="${ticket.hostTeam}"></td>
                    <td th:text="${ticket.opTeam}"></td>
                    <td th:text="${ticket.guessedWinner}"></td>
                    <td th:text="${ticket.quote}"></td>
                    <td th:text="${ticket.quoteToWin}"></td>
                    <td th:text="${ticket.matchDate}"></td>
                    <td th:text="${ticket.result}? ${ticket.result}: ${ticket.getFormattedTime()}"></td>
                    <td>
                        <div th:if="${!ticket.done}">
                            <a th:href="@{ticket/check(id=${ticket.id})}">Sprawdź bilet</a>
                        </div>
                        <div th:if="${ticket.done}">
                            <p>Zakończone</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${activeTickets.isEmpty()}">
            <h4 class="validate red-text center-align">Brak zakładów do wyświetlenia</h4>
        </div>
    </div>
</div>
</body>
</html>