<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="center-align">
            <h2>Zarejestruj się</h2>
            <form class="s3" method="post" th:action="@{/user/register}" th:object="${user}">
                <div class="input-field col s6">
                    <input  th:field="*{username}" id="username" name="username" placeholder="Username" required="required" type="text">
                    <label for="username">Nazwa użytkownika</label>
                </div>
                <div class="input-field col s6 ">
                    <input th:field="*{password}" id="password" name="password" placeholder="Password" required="required" type="password">
                    <label for="password">Hasło</label>
                </div>
                <button class="btn" type="submit">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>