a:hover {
    text-decoration: none;
}

.serif {
    font-family: Verdana, sans-serif;
}

.mh-auto {
    text-align: center;
}

.shadow-wrapper {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto auto auto;
    padding: 5px;
    border-radius: 50px;
    opacity: 0.9;
}

.black-text {
    color: black !important;
}

.navbar, nav {
    box-shadow: 2px 2px 5px white;
}

.black-pad {
    color: black;
    padding: 5px 10px 0 10px;
}

.black-color-white-shadow {
    color: black;
    text-shadow: 2px 2px 2px white;
}

.white-text {
    color: white !important;
}

.no-dec:hover {
    text-decoration: none;
}

body {
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    min-height: 800px;
}

.list-group-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
}

.list-group-item {
    border-radius: 5px;
}

.list-group-item:hover {
    background: #696969;
    color: white;
}

.big-text {
    font-size: 20px;
}

.h-auto {
    height: 10%;
}

.hiddenCard {
    flex: 1;
    margin: 30px;
    background-image: none !important;
    background-color: inherit !important;
    border: none !important;
}

.sidebar {
    text-align: center;
    max-width: 200px;
}

.sidebar > * {
    width: 100%;
}

.background-cover {
    background-size: cover;
}

.btn-secondary {
    background-image: linear-gradient(to bottom, dimgray, gray);
}

.multicolor-gray-white {
    background-image: linear-gradient(to bottom right, gray, white);
}

.border-inset {
    border-style: inset;
!important;
}

.olive-shadow {
    box-shadow: 0 0 1em olive;
}

.fantasy-font {
    font-family: Luminari, fantasy;
    text-shadow: 1px 1px 2px black;
}

.text-red {
    color: red !important;
}

.text-green {
    color: green !important;
}

.white-background {
    background: white;
}

.border-radius-medium {
    border-radius: 10px;
}

.big-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}