<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona głowna</title>
</head>
<body>
<div class="w-100 ml-5 mr-5" layout:fragment="content">
    <div class="d-flex row justify-content-around">
        <div class="shadow-wrapper m-4 mh-auto">
            <div class="container row">
                <div class="col mh-auto ">
                    <img class="col d-block w-100"
                         th:src="${match.getHostTeam().getPictureUrl()}">
                    <h3 th:text="${match.getHostTeam().getName()}"></h3>
                </div>
                <div class="col text-center">
                    <h1 class="text-center">Następne spotkanie</h1>
                    <h4> Pozostało do końca</h4>
                    <span class="big-text h-auto " id="timeCounter">
                <span id="hours" th:text="${time.hours}"></span>
                <span>:</span>
                <span id="minutes" th:text="${time.minutes}"></span>
                <span>:</span>
                <span id="seconds" th:text="${time.seconds}"></span></span>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/ticket(matchId=${match.getId()})}">
                            <button class="btn btn-secondary btn-lg mt-3" id="ticketButton" type="button">Obstaw mecz
                            </button>
                        </a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <button class="mt-2 btn btn-secondary btn-lg"> Zaloguj się aby zrobić zakład</button>
                    </div>
                </div>
                <div class="col text-center">
                    <img class=" col d-block " th:src="${match.getOppositeTeam().getPictureUrl()}">
                    <h3 th:text="${match.getOppositeTeam().getName()}"></h3>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center black-color-white-shadow mt-3 mb-3">Zbliżające sie spotkania</h1>
    <div class="d-flex row justify-content-around">
        <div th:each="sMatch:${matches}">
            <div class="shadow-wrapper m-4 mh-auto">
                <div class="container row">
                    <div class="col mh-auto ">
                        <img class="col d-block w-100"
                             th:src="${sMatch.getHostTeam().getPictureUrl()}">
                        <h3 th:text="${sMatch.getHostTeam().getName()}"></h3>
                    </div>
                    <div class="col text-center">
                        <h4>Dnia</h4>
                        <h2 th:text="${sMatch.getDateOfMatch()}"></h2>
                        <h4>O godzinie</h4>
                        <h2 th:text="${sMatch.getFinishTime()}"></h2>
                        <div sec:authorize="isAuthenticated()">
                            <a th:href="@{/ticket(matchId=${sMatch.getId()})}">
                                <button class="btn btn-secondary btn-lg mt-3" type="button">Obstaw mecz</button>
                            </a>
                        </div>
                    </div>
                    <div class="col mh-auto">
                        <img class="col d-block w-100" th:src="${sMatch.getOppositeTeam().getPictureUrl()}">
                        <h3 th:text="${sMatch.getOppositeTeam().getName()}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>