<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Znajdź zawodnika</title>
</head>
<body>
<div class="mx-auto w-25 mt-5 white-text" layout:fragment="content">
    <h1 class=" text-center">Wyszukaj piłkarza</h1>
    <form class="text-center" th:action="@{/player/check}">
        <div class="form-group">
            <label for="playerName"></label>
            <input class="form-control" id="playerName" placeholder="Imię" th:name="name" type="text">
        </div>
        <button class="btn btn-secondary btn-lg mt-3" type="submit">Wyszukaj</button>
    </form>
</div>
</body>
</html>