<!DOCTYPE html>
<html layout:decorator="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podgląd Gracza</title>
</head>
<body>
<div layout:fragment="content" class="ml-5 mr-5 w-100 " >
    <div class=" d-flex flex-row justify-content-around">
        <div class="col center-align ">
            <img class="border-inset background-cover" style="width: 700px; " th:src="${player.getPictureUrl()}">
        </div>
        <div class="col left center-align text-center">
            <h2>Personalia</h2>
            <h5>Członek klubu</h5>
            <span th:text=" ${player.getFootballClubName()}"></span></br>
            <h5>Pozycja</h5>
            <span th:text="${player.getPosition().getTranslate()}"></span>
            <h5>Strzelone Bramki</h5>
            <span th:text="${player.getGoalIds().size()}"></span>
        </div>
        <div class="col right text-center white-shadow">
        <div th:with="skills=${player.getSkills()}">
            <h2>Umiejętności</h2>
            <h5>Szybkość</h5>
            <span th:text="${skills.getSpeed()}"></span>
            <h5>Wytrzymałość</h5>
            <span th:text="${skills.getEndurance()}"></span>
            <h5>Gra drużynowa</h5>
            <span th:text="${skills.getTeamPlay()}"></span>
        </div>
    </div>
</div>

</body>
</html>